<%= form_with(model: participant) do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% participant.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.check_box :active %>
    <%= form.label :active, "Active" %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>