<% if participant.errors.any? %>
  <div style="color: red">
    <% participant.errors.each do |error| %>
      <%= error.full_message %>
    <% end %>
  </div>
<% end %>
<%= form_with(model: participant) do |form| %>
    <%= form.label :name %><br>
    <%= form.text_field :name %>

    <%= form.submit %>
<% end %>