<h1>Wielka rozgrywka warzywno owocowa !</h1>
<br/>
<div class="row row-cols-4">

</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col"></th>
    <% @participants.each do |participant| %>
      <th scope="col">
        <%= link_to edit_participant_path(participant), class: "text-decoration-none text-success" do %>
          <%= participant.name %>
          </th>
        <% end %>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Points:</td>
    <% @participants.each do |participant| %>
      <td><%= participant.points %></td>
    <% end %>

  </tr>
  </tbody>
</table>

<%= link_to "Add Snacks", new_snack_path %><br/>
<%= link_to "Snacks", snacks_path %>





