<%= form_with(model: snack_game) do |form| %>
  <% if snack_game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(snack_game.errors.count, "error") %> prohibited this snack_game from being saved:</h2>

      <ul>
        <% snack_game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :snack_id, style: "display: block" %>
    <%= form.text_field :snack_id %>
  </div>

  <div>
    <%= form.label :game_id, style: "display: block" %>
    <%= form.text_field :game_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
