<p style="color: green"><%= notice %></p>

<%= render @snack_game %>

<div>
  <%= link_to "Edit this snack game", edit_snack_game_path(@snack_game) %> |
  <%= link_to "Back to snack games", snack_games_path %>

  <%= button_to "Destroy this snack game", @snack_game, method: :delete %>
</div>
