<%= form_with(model: player_game) do |form| %>
  <% if player_game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(player_game.errors.count, "error") %> prohibited this player_game from being saved:</h2>

      <ul>
        <% player_game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :player_id, style: "display: block" %>
    <%= form.text_field :player_id %>
  </div>

  <div>
    <%= form.label :game_id, style: "display: block" %>
    <%= form.text_field :game_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
