<p style="color: green"><%= notice %></p>

<%= render @player_game %>

<div>
  <%= link_to "Edit this player game", edit_player_game_path(@player_game) %> |
  <%= link_to "Back to player games", player_games_path %>

  <%= button_to "Destroy this player game", @player_game, method: :delete %>
</div>
