<%= form_with(model: snack) do |form| %>
    <div>
  <% snack.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
  <% end %>
    </div>

  <div>
    <%= form.text_field :name %>
    <%= form.label :name, "Name" %>
  </div>

  <div>
    <%= form.text_field :points %>
    <%= form.label :points, "Points" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>