<% if snack.errors.any? %>
  <div style="color: red">
    <% snack.errors.each do |error| %>
      <%= error.full_message %>
    <% end %>
  </div>
<% end %>
<%= form_with(model: snack) do |form| %>

  <div>
    <%= form.text_field :name %>
    <%= form.label :name, "Name" %>
  </div>

  <div>
    <%= form.text_field :points %>
    <%= form.label :points, "Points" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>